{compiler_error_format, rich}.

{erl_opts,
    [
     debug_info,
     {i, "apps"},
     warnings_as_errors,
     warn_unused_vars,
     {lager_extra_sinks, [m_erlang_log]}
    ]}.

{deps, [
    {cowboy, "2.8.0"}
]}.

{profiles, [
            {m_erlang ,[
                         {relx, [
                                 {release, {'m_erlang', "0.1.0"},
                                  [m_erlang,
                                   sasl,
                                   inets
                                   ]},

                                 {mode, dev},
                                 {include_erts, true},
                                 {include_src, false},

                                 {generate_start_script, true},
                                 {extend_start_script, true},
                                 {sys_config, "./config/sys.config"},
                                 {vm_args, "./config/vm.args"}
                                ]}
                         ]}
    ]}.
